Node-Red/AccountHandling-Flow.json
[{"id":"e6c7e0b6.f6935","type":"tab","label":"Account Handling","disabled":false,"info":""},{"id":"1906911c.7e398f","type":"group","z":"e6c7e0b6.f6935","name":"Navigate back to login screen","style":{"fill":"#ffefbf","label":true,"label-position":"n","color":"#000000"},"nodes":["2851edd3.643552","2b1cf1e5.37dd8e"],"x":54,"y":779,"w":462,"h":82},{"id":"786f6041.1d687","type":"group","z":"e6c7e0b6.f6935","name":"Create New Account","style":{"fill":"#ffefbf","label":true,"label-position":"n","color":"#000000"},"nodes":["813bf072.c9304","705d3569.3ebe7c","d846eb77.7e21e8","3bdf45fb.ed65ca","a4e9f28f.3b719","833f7838.8fc278","2b65441a.3c557c","f4781cb8.50715","2474d9f7.af68e6","f94fbc52.8cd26","9037029a.87dc3","f6605bea.642c88","f5b75333.04871"],"x":54,"y":499,"w":1172,"h":222},{"id":"b472f47b.00cd08","type":"group","z":"e6c7e0b6.f6935","name":"Login Screen","style":{"fill":"#ffefbf","label":true,"label-position":"n","color":"#000000"},"nodes":["7e741a13.47ee64","523acdff.b4b4b4","236e1746.0f6b08","b2ebbd87.cbd37","d59e8c78.a8b2c","c00cfc9d.f0a75","dd69031.7bfdc","87c4f894.b620a8","32878971.f8c266","971bde45.1ace3","54479a7d.e47ba4","786ba452.8f401c","923c0ebe.08888","3b8811a4.84146e","5fb4a790.462488","47e70d9c.cbb0a4","801a6c92.1f34e"],"x":54,"y":79,"w":1432,"h":362},{"id":"813bf072.c9304","type":"ui_form","z":"e6c7e0b6.f6935","g":"786f6041.1d687","name":"Create Account","label":"","group":"16da9d4b.564bf3","order":2,"width":0,"height":0,"options":[{"label":"Email","value":"email","type":"email","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"topic","topicType":"msg","splitLayout":"","x":160,"y":660,"wires":[["3bdf45fb.ed65ca","a4e9f28f.3b719"]]},{"id":"705d3569.3ebe7c","type":"influxdb out","z":"e6c7e0b6.f6935","g":"786f6041.1d687","influxdb":"e7f0a69a.6b2748","name":"Create Account","measurement":"Accounts","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1100,"y":600,"wires":[]},{"id":"d846eb77.7e21e8","type":"function","z":"e6c7e0b6.f6935","g":"786f6041.1d687","name":"Authentication","func":"// Function to check if the user exists in the database\nvar pass = global.get(\"pass\");\nvar email = global.get(\"email\");\nvar result = false;\n\nfor (var  i = 0; i < msg.payload.length; i++) {\n    if (msg.payload[i].email == email && msg.payload[i].password == pass) {\n        \n        result = true;\n    }\n}\n\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":660,"wires":[["833f7838.8fc278"]]},{"id":"3bdf45fb.ed65ca","type":"influxdb in","z":"e6c7e0b6.f6935","g":"786f6041.1d687","influxdb":"e7f0a69a.6b2748","name":"GetUsers","query":"select * from Accounts;","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":360,"y":660,"wires":[["d846eb77.7e21e8"]]},{"id":"a4e9f28f.3b719","type":"change","z":"e6c7e0b6.f6935","g":"786f6041.1d687","name":"setAccountVariables","rules":[{"t":"set","p":"pass","pt":"global","to":"payload.password","tot":"msg"},{"t":"set","p":"email","pt":"global","to":"payload.email","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":600,"wires":[[]]},{"id":"833f7838.8fc278","type":"switch","z":"e6c7e0b6.f6935","g":"786f6041.1d687","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":660,"wires":[["2474d9f7.af68e6","9037029a.87dc3"],["f94fbc52.8cd26"]]},{"id":"2b65441a.3c557c","type":"ui_ui_control","z":"e6c7e0b6.f6935","g":"786f6041.1d687","name":"Change Tab","events":"all","x":1090,"y":640,"wires":[[]]},{"id":"f4781cb8.50715","type":"ui_toast","z":"e6c7e0b6.f6935","g":"786f6041.1d687","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1110,"y":680,"wires":[]},{"id":"2474d9f7.af68e6","type":"function","z":"e6c7e0b6.f6935","g":"786f6041.1d687","name":"Add Tab Name","func":"msg.payload = \"Smart Weather Station\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":640,"wires":[["2b65441a.3c557c"]]},{"id":"f94fbc52.8cd26","type":"function","z":"e6c7e0b6.f6935","g":"786f6041.1d687","name":"Display Error Message","func":"msg.payload = \"That email already is associated with an account! PLease Login.\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":680,"wires":[["f4781cb8.50715"]]},{"id":"9037029a.87dc3","type":"function","z":"e6c7e0b6.f6935","g":"786f6041.1d687","name":"Account Insert","func":"// Sets up the payload for database insertion.\n\nmsg.payload = {\n    email: global.get(\"email\"),\n    password: global.get(\"pass\")\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":600,"wires":[["705d3569.3ebe7c","f6605bea.642c88"]]},{"id":"2851edd3.643552","type":"ui_button","z":"e6c7e0b6.f6935","g":"1906911c.7e398f","name":"","group":"62da567c.c4b4f8","order":2,"width":0,"height":0,"passthru":false,"label":"Logout","tooltip":"","color":"","bgcolor":"","icon":"fa-sign-out","payload":"Login","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":820,"wires":[["2b1cf1e5.37dd8e"]]},{"id":"2b1cf1e5.37dd8e","type":"ui_ui_control","z":"e6c7e0b6.f6935","g":"1906911c.7e398f","name":"Change Tab","events":"all","x":420,"y":820,"wires":[[]]},{"id":"f6605bea.642c88","type":"debug","z":"e6c7e0b6.f6935","g":"786f6041.1d687","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":560,"wires":[]},{"id":"f5b75333.04871","type":"ui_template","z":"e6c7e0b6.f6935","g":"786f6041.1d687","group":"16da9d4b.564bf3","name":"AlexPi Logo","order":1,"width":"6","height":"7","format":"<div style=\"text-align: center\">\n    <img src=\"https://tcss573-iot-thida.s3.us-east-2.amazonaws.com/AlexPi+logo.png\" alt=\"AlexPi\" width=\"100%\" height=\"auto\">\n    <h1>Create New Account</h1>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":150,"y":540,"wires":[[]]},{"id":"7e741a13.47ee64","type":"ui_form","z":"e6c7e0b6.f6935","g":"b472f47b.00cd08","name":"Login","label":"","group":"552bb750.f8e6d8","order":2,"width":0,"height":0,"options":[{"label":"Email","value":"email","type":"email","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"Login","cancel":"Cancel","topic":"topic","topicType":"msg","splitLayout":"","x":450,"y":280,"wires":[["d59e8c78.a8b2c","b2ebbd87.cbd37"]]},{"id":"523acdff.b4b4b4","type":"ui_button","z":"e6c7e0b6.f6935","g":"b472f47b.00cd08","name":"","group":"552bb750.f8e6d8","order":3,"width":0,"height":0,"passthru":false,"label":"Create New Account","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Create Account","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":400,"wires":[["236e1746.0f6b08"]]},{"id":"236e1746.0f6b08","type":"ui_ui_control","z":"e6c7e0b6.f6935","g":"b472f47b.00cd08","name":"Change Tab","events":"all","x":430,"y":400,"wires":[[]]},{"id":"b2ebbd87.cbd37","type":"change","z":"e6c7e0b6.f6935","g":"b472f47b.00cd08","name":"setAccountVariables","rules":[{"t":"set","p":"pass","pt":"global","to":"payload.password","tot":"msg"},{"t":"set","p":"email","pt":"global","to":"payload.email","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":240,"wires":[[]]},{"id":"d59e8c78.a8b2c","type":"influxdb in","z":"e6c7e0b6.f6935","g":"b472f47b.00cd08","influxdb":"e7f0a69a.6b2748","name":"GetUsers","query":"select * from Accounts;","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":600,"y":300,"wires":[["c00cfc9d.f0a75"]]},{"id":"c00cfc9d.f0a75","type":"function","z":"e6c7e0b6.f6935","g":"b472f47b.00cd08","name":"Authentication","func":"// Function to check if the user exists in the database\nvar pass = global.get(\"pass\");\nvar email = global.get(\"email\");\nvar result = false;\n\nfor (var  i = 0; i < msg.payload.length; i++) {\n    if (msg.payload[i].email == email && msg.payload[i].password == pass) {\n        \n        result = true;\n    }\n}\n\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":300,"wires":[["dd69031.7bfdc"]]},{"id":"dd69031.7bfdc","type":"switch","z":"e6c7e0b6.f6935","g":"b472f47b.00cd08","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":300,"wires":[["971bde45.1ace3"],["54479a7d.e47ba4"]]},{"id":"87c4f894.b620a8","type":"ui_ui_control","z":"e6c7e0b6.f6935","g":"b472f47b.00cd08","name":"Change Tab","events":"all","x":1350,"y":280,"wires":[[]]},{"id":"32878971.f8c266","type":"ui_toast","z":"e6c7e0b6.f6935","g":"b472f47b.00cd08","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1370,"y":320,"wires":[]},{"id":"971bde45.1ace3","type":"function","z":"e6c7e0b6.f6935","g":"b472f47b.00cd08","name":"Add Tab Name","func":"msg.payload = \"Smart Weather Station\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":280,"wires":[["87c4f894.b620a8"]]},{"id":"54479a7d.e47ba4","type":"function","z":"e6c7e0b6.f6935","g":"b472f47b.00cd08","name":"Display Error Message","func":"msg.payload = \"Incorrect password or email. Please try again!\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":320,"wires":[["32878971.f8c266"]]},{"id":"786ba452.8f401c","type":"inject","z":"e6c7e0b6.f6935","g":"b472f47b.00cd08","name":"Initial DB Creation","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":180,"wires":[["3b8811a4.84146e"]]},{"id":"923c0ebe.08888","type":"influxdb out","z":"e6c7e0b6.f6935","g":"b472f47b.00cd08","influxdb":"e7f0a69a.6b2748","name":"Create Account","measurement":"Accounts","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":620,"y":180,"wires":[]},{"id":"3b8811a4.84146e","type":"function","z":"e6c7e0b6.f6935","g":"b472f47b.00cd08","name":"Account Insert","func":"// Sets up the payload for database insertion.\n\nmsg.payload = {\n    email: \"test@gmail.com\",\n    password: \"password\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":180,"wires":[["923c0ebe.08888","b2ebbd87.cbd37"]]},{"id":"5fb4a790.462488","type":"ui_template","z":"e6c7e0b6.f6935","g":"b472f47b.00cd08","group":"552bb750.f8e6d8","name":"AlexPi Logo","order":1,"width":"6","height":"6","format":"<div style=\"text-align: center\">\n    <img src=\"https://tcss573-iot-thida.s3.us-east-2.amazonaws.com/AlexPi+logo.png\" alt=\"AlexPi\" width=\"100%\" height=\"auto\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":170,"y":120,"wires":[[]]},{"id":"47e70d9c.cbb0a4","type":"comment","z":"e6c7e0b6.f6935","g":"b472f47b.00cd08","name":"Create new account section","info":"","x":220,"y":360,"wires":[]},{"id":"801a6c92.1f34e","type":"comment","z":"e6c7e0b6.f6935","g":"b472f47b.00cd08","name":"Login form section","info":"","x":410,"y":240,"wires":[]},{"id":"16da9d4b.564bf3","type":"ui_group","name":"Create Account","tab":"9b291c14.21bdf","order":1,"disp":false,"width":"6","collapse":false},{"id":"e7f0a69a.6b2748","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"smartcity","name":"InfluxDB","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"62da567c.c4b4f8","type":"ui_group","name":"Account Info","tab":"66910e35.7bfb","order":1,"disp":false,"width":"36","collapse":false},{"id":"552bb750.f8e6d8","type":"ui_group","name":"Login","tab":"842dbb90.353318","order":1,"disp":false,"width":"6","collapse":false},{"id":"9b291c14.21bdf","type":"ui_tab","name":"Create Account","icon":"dashboard","disabled":false,"hidden":true},{"id":"66910e35.7bfb","type":"ui_tab","name":"Smart Weather Station","icon":"wi-wu-nt_cloudy","order":1,"disabled":false,"hidden":true},{"id":"842dbb90.353318","type":"ui_tab","name":"Login","icon":"dashboard","disabled":false,"hidden":true}]