Node-Red/AlexPi-Flow.json
[{"id":"6521bd7e.ca4374","type":"tab","label":"Smart Weather","disabled":false,"info":""},{"id":"403f42a2.cd5c5c","type":"group","z":"6521bd7e.ca4374","name":"Detect weather and air quality condition","style":{"fill":"#ffefbf","label":true,"label-position":"n","color":"#000000"},"nodes":["22a3ecb6.8c0924","9b276a64.666718","40566bf4.650d14","5277f798.389918","acb470b1.b1881","db728df6.7ace3","9f834359.9a7fc","5e4b0e53.eaf57","b6748156.373ed","c870035f.4f0e5","5726cb2b.b27c64","58da8ab2.dc36f4","17e15231.22472e","e30dcf58.8952b","4f77b377.e730ec","df4635bd.5b0898","72362366.0fff4c","52a5733f.0f28dc","4164241e.a2d26c","1f06529e.828fed","9be26986.83fdc8","e8c6f770.488598","f59c56a4.24bc08","32f7c73f.677728","fe8f8edd.412e","7e967ea4.d0457","70013247.a4b80c","f85d649e.4da038","65ff9fc3.12e8","d4349859.dc5c68","7c3e9a6a.700474","c459574a.7ac968"],"x":34,"y":1359,"w":2052,"h":928},{"id":"1f06529e.828fed","type":"group","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"Change smart bulb color based on weather condition (Smart bulb must already be connected with Alexa app)","style":{"label":true,"label-position":"n","color":"#000000","fill":"#bfdbef"},"nodes":["77aeba08.086014","abe60c70.b3fee","67e2a380.17a86c","bcb802f8.9237c","435cc4d.4f6393c","d0a6d0ba.a4657","f272dd1f.0345","7b60bb2b.f5ed64"],"x":1154,"y":1399,"w":692,"h":322},{"id":"7c3e9a6a.700474","type":"group","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"Automatically turn on air purifier when sensor detects high air pollution","style":{"stroke":"#000000","label":true,"label-position":"n","color":"#000000","fill":"#bfdbef"},"nodes":["5627116d.e3a52","f138701a.be5da","5b84f554.07ac4c","6ad45322.7950ec"],"x":1154,"y":2079,"w":852,"h":182},{"id":"407a8e8a.8124a","type":"group","z":"6521bd7e.ca4374","name":"Detect Motion at front-door and broadcast outfit recommendation based on weather condition","style":{"fill":"#ffefbf","label":true,"label-position":"n","color":"#000000"},"nodes":["698b5cc4.b4f374","8d8dd951.aee2e8","564891e.62ad07","6d4a9d84.7d1bc4","30b2000a.78b42","a3a60f72.5ae8b","a22ba983.6db8f8","2abf23a8.39046c","2982b087.bde3f","85afe180.6e44c","3636ae0a.36ff22","e36f2b46.3798f8","4360cc00.7f3cb4","968c8046.ae862","ef1e2b64.bceb68","ca77f6e.3291f08","e4e88e3e.5b9d9","45e8a5a3.92dd8c","3d0aba03.c698f6","a98e36d1.fba728"],"x":34,"y":3359,"w":1932,"h":342},{"id":"720b115d.b2ae4","type":"group","z":"6521bd7e.ca4374","name":"","style":{"fill":"#bfdbef","label":true},"nodes":["71d4433a.3cdb7c","c41252e3.06325","b6ca58e5.9627e8"],"x":2154,"y":2099,"w":502,"h":122},{"id":"79eb0127.ceb4e","type":"group","z":"6521bd7e.ca4374","name":"Smart Room Controller","style":{"fill":"#ffbfbf","label":true,"label-position":"n","color":"#000000"},"nodes":["eea6129b.9a025","27e9609c.8b66b","a397188e.7a6e78","3959fb4.57cb104"],"x":28,"y":2753,"w":1264,"h":554},{"id":"eea6129b.9a025","type":"group","z":"6521bd7e.ca4374","g":"79eb0127.ceb4e","name":"","style":{"fill":"#ffefbf","label":true},"nodes":["820fd608.3c40e8","3b4ae9da.d4c5e6","a1fc8231.d1c6","614739f8.80f798","ec44e25a.122ed","e01d62da.5de23"],"x":54,"y":2779,"w":572,"h":162},{"id":"27e9609c.8b66b","type":"group","z":"6521bd7e.ca4374","g":"79eb0127.ceb4e","name":"","style":{"fill":"#ffefbf","label":true},"nodes":["ee4feff3.cda26","2a9c872b.4e2018","183b60f3.8c054f","dab74fd0.46ab6","d59de22e.4dbb1","544d5cb7.7ba074"],"x":654,"y":2779,"w":592,"h":162},{"id":"3959fb4.57cb104","type":"group","z":"6521bd7e.ca4374","g":"79eb0127.ceb4e","name":"","style":{"fill":"#ffefbf","label":true},"nodes":["3a73d031.d1398","7270fd0.3be8704","494457e2.4a4cc8","bd6d9ec.999496"],"x":54,"y":2979,"w":572,"h":122},{"id":"a397188e.7a6e78","type":"group","z":"6521bd7e.ca4374","g":"79eb0127.ceb4e","name":"","style":{"fill":"#ffefbf","label":true},"nodes":["880c7848.a61138","271f3103.ea26be","ab799336.6e64e","de6290a4.2a868","30e43a8c.cd2306","1ba5945f.5a3a9c","c940143c.5f9028","8a8721ea.46c67","b80fbbf7.d95008","21a86027.201e4"],"x":654,"y":2979,"w":612,"h":302},{"id":"be3feca8.e4873","type":"group","z":"6521bd7e.ca4374","name":"Read values from sensors and insert to InfluxDB","style":{"fill":"#e3f3d3","label":true,"label-position":"n","color":"#000000"},"nodes":["11bb28c3.a6f617","5f36aec2.7d198","b408b748.4407a8","e9f04af9.9ebf08","8de6dba0.ae2ad8","9a39b9.e2ce0648","ba4f5072.567b7","876fac7b.edc23","74650493.17674c","587146a7.41c068","91bfd1a.952513","b54d8335.23f41"],"x":34,"y":513,"w":1884,"h":734},{"id":"587146a7.41c068","type":"group","z":"6521bd7e.ca4374","g":"be3feca8.e4873","name":"Read sensor values and store as global variables","style":{"stroke":"#bfdbef","label":true,"label-position":"n","color":"#000000","fill":"#bfdbef"},"nodes":["2825d0e9.6ea04","bdbc7ab.23cb688","7a88a773.b7f3b8","26e63ab0.43df46","213ce0a8.b0fc9","37087e2.53d2d82","fd1d3084.f9eab","5b01d058.e72c6","b3e4ec2c.3cdae","946708e9.404c28"],"x":374,"y":539,"w":492,"h":382},{"id":"91bfd1a.952513","type":"group","z":"6521bd7e.ca4374","g":"be3feca8.e4873","name":"","style":{"stroke":"#000000","label":true},"nodes":["dc99940e.655058","46be47de.854058","73936e6d.3ec6f","6709f48d.a9fe4c","7247784b.779848","c8c4ddbb.4bf2a","745cb79e.4a4178","662fabb6.090fd4","59f73297.ae57fc","c7f013df.23307","74c278b8.198b68","3742663.0c8c19a","5ce09360.77a3bc","3547eafb.6e3b06"],"x":924,"y":539,"w":968,"h":682},{"id":"3547eafb.6e3b06","type":"group","z":"6521bd7e.ca4374","g":"91bfd1a.952513","name":"Store values to InfluxDB","style":{"fill":"#dbcbe7","label":true,"label-position":"n","color":"#000000"},"nodes":["303a48a4.f443e8","f39cddfa.cac4c","1a005303.073c1d","36c85423.81e22c"],"x":1474,"y":739,"w":392,"h":182},{"id":"d357881.f2ec478","type":"group","z":"6521bd7e.ca4374","name":"","style":{"fill":"#bfdbef","label":true},"nodes":["e96d2f3f.1301d","f8169785.0f4fd8","2d40e879.496f98","e7bbb465.f386b8","a7ef20da.8043e","c4004708.e5e718","87af31c8.f9208","3d14a8fe.3aeae8","e71bd0bb.590de","e9725a67.112bd8","504f78f2.680bf8","760f2667.9482e8"],"x":2154,"y":1719,"w":1092,"h":342},{"id":"e100928e.1f09b","type":"group","z":"6521bd7e.ca4374","name":"Detect light and turn on smart bulb automatically at night time","style":{"fill":"#ffefbf","label":true,"label-position":"n","color":"#000000"},"nodes":["5830be52.ab5ca","1395fd4b.065b13","592e1b48.cbc2d4","13fbd2b3.6c281d","658a5e12.dbb6a","5c5b56ab.585c18","d87ab629.94f798","f1c14f04.164e4","93375f59.f3b05","9ef2f2e1.0059a"],"x":34,"y":2319,"w":1012,"h":322},{"id":"fea74f19.fe133","type":"group","z":"6521bd7e.ca4374","name":"","style":{"fill":"#e3f3d3","label":true},"nodes":["fe841651.b922b8","63cc39ae.e3c448","54d2ed93.e046b4","911c3f4c.74c59","a7774cc5.cc826","a7fa879.1f02278","7e2e3744.1f2ec8"],"x":34,"y":199,"w":792,"h":262},{"id":"5726cb2b.b27c64","type":"http request","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"detectGeolocation","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://ip-api.com/json","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":1920,"wires":[["17e15231.22472e"]]},{"id":"58da8ab2.dc36f4","type":"inject","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"OutdoorAirQualityFlow","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":1920,"wires":[["5726cb2b.b27c64"]]},{"id":"17e15231.22472e","type":"function","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"parseGeolocation","func":"// Parse geolocation values from API response\nmsg.latitude = msg.payload.lat;\nmsg.longitude = msg.payload.lon;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":1920,"wires":[["4f77b377.e730ec"]]},{"id":"e30dcf58.8952b","type":"function","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"parseAirQuality","func":"// Parse air quality values from API response\nvar airQuality = msg.payload[\"list\"][\"0\"].main.aqi;\nmsg.air = airQuality == 1 ? \"Good\" \n            : airQuality == 2 ? \"Fair\"\n            : airQaulity == 3 ? \"Moderate\"\n            : airQuality == 4 ? \"Poor\"\n            : \"Very Poor\";\n\n// Build the array to be displayed on bar graph\nmsg.payload = [{\n    \"series\": [ \"CO\", \"NO\", \"O3\", \"SO2\", \"NH3\"],\n    \"data\": [\n        msg.payload[\"list\"][\"0\"].components.co,\n        msg.payload[\"list\"][\"0\"].components.no,\n        msg.payload[\"list\"][\"0\"].components.o3,\n        msg.payload[\"list\"][\"0\"].components.so2,\n        msg.payload[\"list\"][\"0\"].components.nh3\n    ],\n    \"labels\": [\"Carbon Monoxide\", \"Nitrogen Monoxide\", \"Ozone\", \"Sulphur Dioxide\", \"Ammonia\"]\n}]\n\n// Build output command for outdoor air condition\nmsg.tempOutdoorCommand = \"The current air condition in your area is \" + msg.air;\n\n// Get the highest gas concentration value and its name in the list\nmsg.highestGasValue = Math.max(...msg.payload[0].data);\nmsg.highestGasName = msg.payload[0].labels[msg.payload[0].data.indexOf(msg.highestGasValue)];\n\n// Get the highest gas concentration value in the list\nmsg.lowestGasValue = Math.min(...msg.payload[0].data);\nmsg.lowestGasName = msg.payload[0].labels[msg.payload[0].data.indexOf(msg.lowestGasValue)];\n\n// Build output command for gas concentration\nvar airConcentrationCommand = msg.tempOutdoorCommand + \"The highest gas concentration in your area now is \" + msg.highestGasName \n    + \" with \" + msg.highestGasValue + \" micrograms per cubic meter air.\";\nmsg.airConcentrationCommand = airConcentrationCommand;\nmsg.indoorAirCommand = airConcentrationCommand;\nmsg.outdoorAirCommand = airConcentrationCommand;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":1920,"wires":[["df4635bd.5b0898","32f7c73f.677728"]]},{"id":"4f77b377.e730ec","type":"http request","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"getAirQuality","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/air_pollution?lat={{latitude}}&lon={{longitude}}&appid=fc392caac575a1f128302f10bb9c7b10","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":1920,"wires":[["e30dcf58.8952b"]]},{"id":"df4635bd.5b0898","type":"ui_chart","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"Outdoor Air Chart","group":"a20698b5.834d98","order":10,"width":"12","height":"4","label":"Outdoor Air Quality (μg/m3)","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"250","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1250,"y":1940,"wires":[[]]},{"id":"72362366.0fff4c","type":"ui_gauge","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"Indoor air quality gauge","group":"a20698b5.834d98","order":9,"width":"6","height":"4","gtype":"gage","title":"Indoor: {{msg.payload.status}}","label":"","format":"{{msg.payload.value}}","min":0,"max":"700","colors":["#00b500","#e6e600","#ca3838"],"seg1":"300","seg2":"","x":1270,"y":2040,"wires":[]},{"id":"52a5733f.0f28dc","type":"function","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"extractAirCondition","func":"// Read Air Condition value from sensor\nvar rawAirValue = global.get(\"indoorAir\");\n\nvar turnOnAirPurifier = false;\nvar status = '';\nvar indoorAirCommand = 'Unknown';\n\n// Build out response field messages\nif (!(isNaN(rawAirValue))) {\n    \n    status = rawAirValue >= 700 ? \"High Pollution\" : rawAirValue > 300 && rawAirValue < 700 ? \"Low Pollution\" : \"Fresh Air\";\n    indoorAirCommand = \"Your indoor air condition is \" + status;\n    \n    if (rawAirValue >= 700) {\n        turnOnAirPurifier = true;\n    }\n    \n    msg.payload = {\n        status: status,\n        value : rawAirValue,\n        turnOnAirPurifier: turnOnAirPurifier,\n        indoorAirCommand: indoorAirCommand\n    };\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":2120,"wires":[["72362366.0fff4c","5b84f554.07ac4c","fe8f8edd.412e"]]},{"id":"4164241e.a2d26c","type":"comment","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"Detect Indoor Air Quality","info":"","x":970,"y":2080,"wires":[]},{"id":"2a9c872b.4e2018","type":"ui_template","z":"6521bd7e.ca4374","g":"27e9609c.8b66b","group":"e570b324.764e2","name":"Bedroom Light","order":5,"width":"5","height":1,"format":"<div style=\"margin:auto;\"><i class=\"fa fa-bed\" aria-hidden=\"true\"></i>\nBedroom Light</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":760,"y":2860,"wires":[[]]},{"id":"183b60f3.8c054f","type":"ui_button","z":"6521bd7e.ca4374","g":"27e9609c.8b66b","name":"Light On","group":"e570b324.764e2","order":6,"width":"4","height":1,"passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":940,"y":2860,"wires":[["d59de22e.4dbb1"]]},{"id":"dab74fd0.46ab6","type":"ui_button","z":"6521bd7e.ca4374","g":"27e9609c.8b66b","name":"Light Off","group":"e570b324.764e2","order":7,"width":"4","height":1,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":940,"y":2900,"wires":[["544d5cb7.7ba074"]]},{"id":"d59de22e.4dbb1","type":"alexa-remote-routine","z":"6521bd7e.ca4374","g":"27e9609c.8b66b","name":"Bedroom light","account":"4dd2b761.a0d768","routineNode":{"type":"smarthome","payload":{"entity":"fee9530e-17a5-4d40-aa6d-d5d5739d4288","action":"turnOn"}},"x":1140,"y":2860,"wires":[[]]},{"id":"544d5cb7.7ba074","type":"alexa-remote-routine","z":"6521bd7e.ca4374","g":"27e9609c.8b66b","name":"Bedroom light","account":"4dd2b761.a0d768","routineNode":{"type":"smarthome","payload":{"entity":"fee9530e-17a5-4d40-aa6d-d5d5739d4288","action":"turnOff"}},"x":1140,"y":2900,"wires":[[]]},{"id":"820fd608.3c40e8","type":"ui_template","z":"6521bd7e.ca4374","g":"eea6129b.9a025","group":"e570b324.764e2","name":"Air Purifier","order":2,"width":"5","height":1,"format":"<div style=\"margin:auto;\">\n    <i class=\"fa fa-thermometer-empty\" aria-hidden=\"true\"></i>\n    Air Purifier\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":150,"y":2860,"wires":[[]]},{"id":"3b4ae9da.d4c5e6","type":"ui_button","z":"6521bd7e.ca4374","g":"eea6129b.9a025","name":"Air On","group":"e570b324.764e2","order":3,"width":"4","height":1,"passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":310,"y":2860,"wires":[["614739f8.80f798"]]},{"id":"a1fc8231.d1c6","type":"ui_button","z":"6521bd7e.ca4374","g":"eea6129b.9a025","name":"Air Off","group":"e570b324.764e2","order":4,"width":"4","height":1,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":310,"y":2900,"wires":[["ec44e25a.122ed"]]},{"id":"614739f8.80f798","type":"alexa-remote-routine","z":"6521bd7e.ca4374","g":"eea6129b.9a025","name":"Air Purifier","account":"4dd2b761.a0d768","routineNode":{"type":"smarthome","payload":{"entity":"6f329864-0032-41da-b153-25ad2dff793d","action":"turnOn"}},"x":530,"y":2860,"wires":[[]]},{"id":"ec44e25a.122ed","type":"alexa-remote-routine","z":"6521bd7e.ca4374","g":"eea6129b.9a025","name":"Air Purifier","account":"4dd2b761.a0d768","routineNode":{"type":"smarthome","payload":{"entity":"6f329864-0032-41da-b153-25ad2dff793d","action":"turnOff"}},"x":530,"y":2900,"wires":[[]]},{"id":"e01d62da.5de23","type":"comment","z":"6521bd7e.ca4374","g":"eea6129b.9a025","name":"Option to turn on/off smart plug that air purifier is connected to","info":"","x":310,"y":2820,"wires":[]},{"id":"f138701a.be5da","type":"alexa-remote-routine","z":"6521bd7e.ca4374","g":"7c3e9a6a.700474","name":"Turn on Smart Plug that controls air purifier","account":"4dd2b761.a0d768","routineNode":{"type":"smarthome","payload":{"entity":"6f329864-0032-41da-b153-25ad2dff793d","action":"turnOn"}},"x":1710,"y":2120,"wires":[[]]},{"id":"5b84f554.07ac4c","type":"switch","z":"6521bd7e.ca4374","g":"7c3e9a6a.700474","name":"turnOnAirPurifier","property":"payload.turnOnAirPurifier","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1270,"y":2160,"wires":[["f138701a.be5da","5627116d.e3a52"]]},{"id":"3a73d031.d1398","type":"ui_template","z":"6521bd7e.ca4374","g":"3959fb4.57cb104","group":"e570b324.764e2","name":"Brightness","order":8,"width":"5","height":1,"format":"<div style=\"margin:auto;\">\n    <i class=\"fa fa-sun-o\" aria-hidden=\"true\"></i>\n    Brightness\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":150,"y":3060,"wires":[[]]},{"id":"7270fd0.3be8704","type":"ui_slider","z":"6521bd7e.ca4374","g":"3959fb4.57cb104","name":"Light Slider","label":"","tooltip":"","group":"e570b324.764e2","order":9,"width":"8","height":"1","passthru":true,"outs":"end","topic":"","topicType":"str","min":0,"max":"100","step":1,"x":330,"y":3060,"wires":[["494457e2.4a4cc8"]]},{"id":"494457e2.4a4cc8","type":"alexa-remote-routine","z":"6521bd7e.ca4374","g":"3959fb4.57cb104","name":"Bedroom light","account":"4dd2b761.a0d768","routineNode":{"type":"smarthome","payload":{"entity":"fee9530e-17a5-4d40-aa6d-d5d5739d4288","action":"setBrightness","value":{"type":"msg","value":"payload"}}},"x":520,"y":3060,"wires":[[]]},{"id":"271f3103.ea26be","type":"ui_button","z":"6521bd7e.ca4374","g":"a397188e.7a6e78","name":"Cool White","group":"e570b324.764e2","order":11,"width":"2","height":"1","passthru":false,"label":"Night","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":990,"y":3060,"wires":[["de6290a4.2a868"]]},{"id":"ab799336.6e64e","type":"ui_button","z":"6521bd7e.ca4374","g":"a397188e.7a6e78","name":"Warm White","group":"e570b324.764e2","order":12,"width":"2","height":"1","passthru":false,"label":"Day","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":990,"y":3120,"wires":[["30e43a8c.cd2306"]]},{"id":"de6290a4.2a868","type":"alexa-remote-routine","z":"6521bd7e.ca4374","g":"a397188e.7a6e78","name":"Cool White","account":"4dd2b761.a0d768","routineNode":{"type":"smarthome","payload":{"entity":"fee9530e-17a5-4d40-aa6d-d5d5739d4288","action":"setColorTemperature","value":{"type":"str","value":"cool_white"}}},"x":1170,"y":3060,"wires":[[]]},{"id":"30e43a8c.cd2306","type":"alexa-remote-routine","z":"6521bd7e.ca4374","g":"a397188e.7a6e78","name":"Warm White","account":"4dd2b761.a0d768","routineNode":{"type":"smarthome","payload":{"entity":"fee9530e-17a5-4d40-aa6d-d5d5739d4288","action":"setColorTemperature","value":{"type":"str","value":"warm_white"}}},"x":1170,"y":3120,"wires":[[]]},{"id":"1ba5945f.5a3a9c","type":"ui_template","z":"6521bd7e.ca4374","g":"a397188e.7a6e78","group":"e570b324.764e2","name":"Bedroom Light Shade","order":10,"width":"5","height":1,"format":"<div style=\"margin:auto;\">\n    <i class=\"fa fa-lightbulb-o\" aria-hidden=\"true\"></i>\n    Light Shade\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":780,"y":3060,"wires":[[]]},{"id":"22a3ecb6.8c0924","type":"http request","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"getWeather","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?q={{payload.city}},{{payload.state}},{{payload.country}}&units=metric&appid=fc392caac575a1f128302f10bb9c7b10","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":1640,"wires":[["40566bf4.650d14"]]},{"id":"9b276a64.666718","type":"function","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"parseLocation","func":"// Parse city, state and country code value from the API response\nmsg.payload.city = msg.payload.city;\nmsg.payload.state = msg.payload.region;\nmsg.payload.country = msg.payload.countryCode;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":1640,"wires":[["22a3ecb6.8c0924"]]},{"id":"40566bf4.650d14","type":"function","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"parseWeather","func":"// Weather condition \nmsg.condition = msg.payload.weather[0].main;\n\n// Actual Temperature\nmsg.outdoorTemperature = msg.payload.main.temp;\n\n// Feel-like Temperature\nmsg.feelLikeTemperature = msg.payload.main.feels_like;\n\n// Humidity\nmsg.outdoorHumidity = msg.payload.main.humidity;\n\n// Output command to browser\nmsg.outdoorWeatherCommand = \"The current temperature in your area is \" + msg.outdoorTemperature \n        + \" degree celsius but feel like \" + msg.feelLikeTemperature + \" degree celsius. The weather condition is \" \n        + msg.condition + \" and the humidity is \" + msg.outdoorHumidity + \" percents\";\n       \nmsg.indoorWeatherCommand = \"The temperature inside your house is \" + global.get(\"indoorTemperature\") + \" degree celsius, and the humidity inside your house is \" + global.get(\"indoorHumidity\") + \" percents\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":1640,"wires":[["7b60bb2b.f5ed64","e8c6f770.488598","f59c56a4.24bc08","70013247.a4b80c"]]},{"id":"5277f798.389918","type":"http request","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"detectLocation","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://ip-api.com/json","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":1640,"wires":[["9b276a64.666718"]]},{"id":"acb470b1.b1881","type":"inject","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"OutdoorWeatherFlow","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":1640,"wires":[["5277f798.389918"]]},{"id":"db728df6.7ace3","type":"function","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"parseTemperatureAndHumidity","func":"// Retrieve values stored from global variables\nvar temperature = global.get(\"indoorTemperature\");\nvar humidity = global.get(\"indoorHumidity\");\n\n// Check if the values read from sensors are valid numbers\nif (!(isNaN(temperature)) ||\n   !(isNaN(humidity))) {\n    \n    // Additional check for valid temperature and humidity values\n    if (temperature < 100 && humidity <= 100) {\n        // Build out response fields\n        msg.payload = {\n            indoorTemperature: temperature,\n            indoorHumidity: humidity\n        };  \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":1440,"wires":[["9f834359.9a7fc","5e4b0e53.eaf57"]]},{"id":"9f834359.9a7fc","type":"ui_gauge","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"Indoor Temperature","group":"a20698b5.834d98","order":7,"width":"6","height":4,"gtype":"gage","title":"Indoor Temperature","label":"Celsius","format":"{{msg.payload.indoorTemperature}}","min":"-10","max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15","seg2":"30","x":1030,"y":1420,"wires":[]},{"id":"5e4b0e53.eaf57","type":"ui_gauge","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"Indoor Humidity","group":"a20698b5.834d98","order":8,"width":"6","height":4,"gtype":"gage","title":"Indoor Humidity","label":"%","format":"{{msg.payload.indoorHumidity}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15","seg2":"30","x":1020,"y":1460,"wires":[]},{"id":"b6748156.373ed","type":"comment","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"Detect Indoor Temperature From Sensor","info":"","x":520,"y":1400,"wires":[]},{"id":"7b60bb2b.f5ed64","type":"switch","z":"6521bd7e.ca4374","g":"1f06529e.828fed","name":"Weather Condition","property":"condition","propertyType":"msg","rules":[{"t":"eq","v":"Clear","vt":"str"},{"t":"eq","v":"Thunderstorm","vt":"str"},{"t":"eq","v":"Drizzle","vt":"str"},{"t":"eq","v":"Rain","vt":"str"},{"t":"eq","v":"Snow","vt":"str"},{"t":"eq","v":"Clouds","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":1270,"y":1540,"wires":[["77aeba08.086014"],["abe60c70.b3fee"],["67e2a380.17a86c"],["bcb802f8.9237c"],["435cc4d.4f6393c"],["d0a6d0ba.a4657"],["f272dd1f.0345"]]},{"id":"77aeba08.086014","type":"alexa-remote-routine","z":"6521bd7e.ca4374","g":"1f06529e.828fed","name":"Clear","account":"4dd2b761.a0d768","routineNode":{"type":"smarthome","payload":{"entity":"fee9530e-17a5-4d40-aa6d-d5d5739d4288","action":"setColorTemperature","value":{"type":"str","value":"bright_white"}}},"x":1470,"y":1440,"wires":[[]]},{"id":"abe60c70.b3fee","type":"alexa-remote-routine","z":"6521bd7e.ca4374","g":"1f06529e.828fed","name":"Thunderstorm","account":"4dd2b761.a0d768","routineNode":{"type":"smarthome","payload":{"entity":"fee9530e-17a5-4d40-aa6d-d5d5739d4288","action":"setColor","value":{"type":"str","value":"teal"}}},"x":1500,"y":1480,"wires":[[]]},{"id":"67e2a380.17a86c","type":"alexa-remote-routine","z":"6521bd7e.ca4374","g":"1f06529e.828fed","name":"Drizzle","account":"4dd2b761.a0d768","routineNode":{"type":"smarthome","payload":{"entity":"fee9530e-17a5-4d40-aa6d-d5d5739d4288","action":"setColor","value":{"type":"str","value":"firebrick"}}},"x":1470,"y":1520,"wires":[[]]},{"id":"bcb802f8.9237c","type":"alexa-remote-routine","z":"6521bd7e.ca4374","g":"1f06529e.828fed","name":"Rain","account":"4dd2b761.a0d768","routineNode":{"type":"smarthome","payload":{"entity":"fee9530e-17a5-4d40-aa6d-d5d5739d4288","action":"setColor","value":{"type":"str","value":"white"}}},"x":1470,"y":1560,"wires":[[]]},{"id":"435cc4d.4f6393c","type":"alexa-remote-routine","z":"6521bd7e.ca4374","g":"1f06529e.828fed","name":"Snow","account":"4dd2b761.a0d768","routineNode":{"type":"smarthome","payload":{"entity":"fee9530e-17a5-4d40-aa6d-d5d5739d4288","action":"setColor","value":{"type":"str","value":"snow"}}},"x":1470,"y":1600,"wires":[[]]},{"id":"d0a6d0ba.a4657","type":"alexa-remote-routine","z":"6521bd7e.ca4374","g":"1f06529e.828fed","name":"Clouds","account":"4dd2b761.a0d768","routineNode":{"type":"smarthome","payload":{"entity":"fee9530e-17a5-4d40-aa6d-d5d5739d4288","action":"setColor","value":{"type":"str","value":"dark_slate_blue"}}},"x":1480,"y":1640,"wires":[[]]},{"id":"f272dd1f.0345","type":"alexa-remote-routine","z":"6521bd7e.ca4374","g":"1f06529e.828fed","name":"Others","account":"4dd2b761.a0d768","routineNode":{"type":"smarthome","payload":{"entity":"fee9530e-17a5-4d40-aa6d-d5d5739d4288","action":"setColor","value":{"type":"str","value":"green"}}},"x":1470,"y":1680,"wires":[[]]},{"id":"5830be52.ab5ca","type":"function","z":"6521bd7e.ca4374","g":"e100928e.1f09b","name":"parseMessage","func":"// Raw value read from light sensor\nvar lightSensorValue = global.get(\"indoorLight\");\n\n// Calculate resistance of sensor\n// Resource: https://wiki.seeedstudio.com/Grove-Light_Sensor/\nvar resistance = (1023 - lightSensorValue) * 10 / lightSensorValue;\n\n// Threshold resistance\nvar threshold = 50;\n\nvar timeOfDay = \"\";\n\n// Identify as night time when sensor exceeds threshold resistance\nif (resistance > threshold) {\n    timeOfDay = \"Night Time\";\n} else {\n    timeOfDay = \"Day Time\";\n}\n\n// Build out response fields\nmsg.payload = {\n    resistance : resistance,\n    rawValue : lightSensorValue,\n    timeOfDay: timeOfDay\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":2480,"wires":[["13fbd2b3.6c281d","1395fd4b.065b13"]]},{"id":"1395fd4b.065b13","type":"function","z":"6521bd7e.ca4374","g":"e100928e.1f09b","name":"isNightTime","func":"// Turn on LED when sensor exceeds threshold resistance (Night time)\nif (msg.payload.timeOfDay === \"Night Time\") {\n    msg.payload = 255;\n} else {\n   msg.payload = 0; \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":2440,"wires":[["592e1b48.cbc2d4","5c5b56ab.585c18","f1c14f04.164e4"]]},{"id":"592e1b48.cbc2d4","type":"grove analog output","z":"6521bd7e.ca4374","g":"e100928e.1f09b","name":"Red LED - Night","board":"707c69e9.6008c8","pin":"6","x":820,"y":2520,"wires":[]},{"id":"13fbd2b3.6c281d","type":"debug","z":"6521bd7e.ca4374","g":"e100928e.1f09b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":2520,"wires":[]},{"id":"658a5e12.dbb6a","type":"inject","z":"6521bd7e.ca4374","g":"e100928e.1f09b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":730,"y":2600,"wires":[["592e1b48.cbc2d4"]]},{"id":"5c5b56ab.585c18","type":"alexa-remote-routine","z":"6521bd7e.ca4374","g":"e100928e.1f09b","name":"Turn on Bedroom light","account":"4dd2b761.a0d768","routineNode":{"type":"smarthome","payload":{"entity":"fee9530e-17a5-4d40-aa6d-d5d5739d4288","action":"turnOn"}},"x":840,"y":2460,"wires":[[]]},{"id":"3636ae0a.36ff22","type":"comment","z":"6521bd7e.ca4374","g":"407a8e8a.8124a","name":"Broadcast outfit recommendation to the specified Amazon Echo device","info":"","x":1650,"y":3480,"wires":[]},{"id":"698b5cc4.b4f374","type":"function","z":"6521bd7e.ca4374","g":"407a8e8a.8124a","name":"parseMotionDetection","func":"// Value reads from sensor\nvar motion = global.get(\"motionDetection\");\nvar command = \"\";\nvar sendReport = false;\n\n// Detect if there is a motion less than 20cm range from the sensor\nif (!(isNaN(motion)) && (motion < 20)) {\n    command = \"Someone is at the front door.\";\n    sendReport = true;\n} else {\n    command = \"No one is at the front door.\";\n    sendReport = false;\n}\n\n// Build out response fields\nmsg.payload = {\n    motion: motion,\n    sendReport: sendReport,\n    command: command\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":3620,"wires":[["6d4a9d84.7d1bc4","564891e.62ad07","2abf23a8.39046c"]]},{"id":"8d8dd951.aee2e8","type":"debug","z":"6521bd7e.ca4374","g":"407a8e8a.8124a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":3640,"wires":[]},{"id":"564891e.62ad07","type":"ui_text","z":"6521bd7e.ca4374","d":true,"g":"407a8e8a.8124a","group":"b4169f1f.bf933","order":3,"width":"0","height":"0","name":"Front Door Detection","label":"","format":"{{msg.payload.command}}","layout":"col-center","x":1000,"y":3660,"wires":[]},{"id":"6d4a9d84.7d1bc4","type":"switch","z":"6521bd7e.ca4374","g":"407a8e8a.8124a","name":"isMotionDetected","property":"payload.sendReport","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":3620,"wires":[["85afe180.6e44c","e4e88e3e.5b9d9"],["8d8dd951.aee2e8"]]},{"id":"30b2000a.78b42","type":"inject","z":"6521bd7e.ca4374","g":"407a8e8a.8124a","name":"OutdoorWeatherFlow","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":3400,"wires":[["3d0aba03.c698f6"]]},{"id":"a3a60f72.5ae8b","type":"function","z":"6521bd7e.ca4374","g":"407a8e8a.8124a","name":"mapWeatherWithOutfit","func":"var outfitCommand = null;\nvar weatherCondition = global.get(\"weatherCondition\");\nif (weatherCondition === 'Rain') {\n    outfitCommand = \"It will be rainning. Have you brought your umbrella?\";\n} else if (weatherCondition === 'Snow') {\n    outfitCommand = \"It will be snowing today. Please wear warm outfits and waterproof boots.\";\n} else if (weatherCondition === 'Clouds') {\n    outfitCommand = \"It is cloudy today. There is no forecast of rain or snow. Take care!\";\n} else {\n    outfitCommand = \"No outfit suggestion\";\n}\n\nmsg.payload.weather = {\n    outfitCommand: outfitCommand\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":3480,"wires":[["2982b087.bde3f"]]},{"id":"a22ba983.6db8f8","type":"function","z":"6521bd7e.ca4374","g":"407a8e8a.8124a","name":"broadcastOutfitReport","func":"// Broadcast to Amazon Echo device\nif (msg.weather.outfitCommand) {\n    msg.payload = msg.weather.outfitCommand;\n    return msg;   \n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1500,"y":3520,"wires":[["e36f2b46.3798f8"]]},{"id":"2abf23a8.39046c","type":"debug","z":"6521bd7e.ca4374","g":"407a8e8a.8124a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.motion","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":3580,"wires":[]},{"id":"2982b087.bde3f","type":"change","z":"6521bd7e.ca4374","g":"407a8e8a.8124a","name":"setWeatherVariables","rules":[{"t":"set","p":"weather","pt":"global","to":"payload.weather","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":3480,"wires":[["85afe180.6e44c"]]},{"id":"85afe180.6e44c","type":"function","z":"6521bd7e.ca4374","g":"407a8e8a.8124a","name":"getWeatherCondition","func":"// Retrieve weather condition stored in global variable\nmsg.weather = global.get(\"weather\");\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":3520,"wires":[["a22ba983.6db8f8"]]},{"id":"943f478d.9753a8","type":"alexa-remote-init","z":"6521bd7e.ca4374","name":"","account":"4dd2b761.a0d768","option":"refresh","x":440,"y":60,"wires":[[]]},{"id":"a6ef4297.7c20c","type":"inject","z":"6521bd7e.ca4374","name":"Refresh Amazon Alexa Account","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":60,"wires":[["943f478d.9753a8"]]},{"id":"fe841651.b922b8","type":"ui_template","z":"6521bd7e.ca4374","g":"fea74f19.fe133","group":"62da567c.c4b4f8","name":"Weather Widget","order":3,"width":"36","height":"2","format":"<a class=\"weatherwidget-io\" href=\"https://forecast7.com/en/47d17n122d52/lakewood/\" data-label_1={{msg.payload}} data-label_2=\"Weather\" data-theme=\"sky\" >{{msg.payload}} Weather</a>\n<script>\n!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');\n</script>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":720,"y":420,"wires":[[]]},{"id":"63cc39ae.e3c448","type":"comment","z":"6521bd7e.ca4374","g":"fea74f19.fe133","name":"Header Section","info":"","x":140,"y":240,"wires":[]},{"id":"54d2ed93.e046b4","type":"ui_template","z":"6521bd7e.ca4374","g":"fea74f19.fe133","group":"62da567c.c4b4f8","name":"Welcome to AlexPi banner","order":1,"width":"36","height":"4","format":"<div style=\"text-align: center\">\n    <img src=\"https://tcss573-iot-thida.s3.us-east-2.amazonaws.com/alex-pi-banner.png\" alt=\"AlexPi\" width=1000 height=\"auto\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":180,"y":280,"wires":[[]]},{"id":"911c3f4c.74c59","type":"inject","z":"6521bd7e.ca4374","g":"fea74f19.fe133","name":"WeatherWidgetFlow","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":180,"y":420,"wires":[["a7774cc5.cc826"]]},{"id":"a7774cc5.cc826","type":"http request","z":"6521bd7e.ca4374","g":"fea74f19.fe133","name":"detectCity","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://ip-api.com/json","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":420,"wires":[["a7fa879.1f02278"]]},{"id":"a7fa879.1f02278","type":"function","z":"6521bd7e.ca4374","g":"fea74f19.fe133","name":"parseCity","func":"// Parse city value from the API response\nmsg.payload = msg.payload.city;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":420,"wires":[["fe841651.b922b8"]]},{"id":"7e2e3744.1f2ec8","type":"comment","z":"6521bd7e.ca4374","g":"fea74f19.fe133","name":"Widget from https://weatherwidget.io/","info":"","x":210,"y":380,"wires":[]},{"id":"c870035f.4f0e5","type":"comment","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"Get Outdoor Weather from OpenMapWeather","info":"","x":910,"y":1600,"wires":[]},{"id":"d87ab629.94f798","type":"comment","z":"6521bd7e.ca4374","g":"e100928e.1f09b","name":"Automatically turn on smart bulb if night time","info":"","x":850,"y":2360,"wires":[]},{"id":"e96d2f3f.1301d","type":"ui_button","z":"6521bd7e.ca4374","g":"d357881.f2ec478","name":"","group":"a20698b5.834d98","order":5,"width":0,"height":0,"passthru":false,"label":"Speak","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":2230,"y":2020,"wires":[["c4004708.e5e718"]]},{"id":"f8169785.0f4fd8","type":"change","z":"6521bd7e.ca4374","g":"d357881.f2ec478","name":"","rules":[{"t":"set","p":"device","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3140,"y":1800,"wires":[[]]},{"id":"2d40e879.496f98","type":"change","z":"6521bd7e.ca4374","g":"d357881.f2ec478","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload.accountName[]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2680,"y":1800,"wires":[["e7bbb465.f386b8"]]},{"id":"e7bbb465.f386b8","type":"ui_dropdown","z":"6521bd7e.ca4374","g":"d357881.f2ec478","name":"Alexa Device Dropdown","label":"Device","tooltip":"","place":"Choose Your Alexa Device","group":"a20698b5.834d98","order":2,"width":"17","height":1,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","topicType":"str","x":2910,"y":1800,"wires":[["f8169785.0f4fd8"]]},{"id":"a7ef20da.8043e","type":"ui_button","z":"6521bd7e.ca4374","g":"d357881.f2ec478","name":"Refresh Device List","group":"a20698b5.834d98","order":3,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"","topicType":"str","x":2270,"y":1800,"wires":[["87af31c8.f9208"]]},{"id":"c4004708.e5e718","type":"alexa-remote-routine","z":"6521bd7e.ca4374","g":"d357881.f2ec478","name":"Speak Weather/Air commands","account":"4dd2b761.a0d768","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"flow","value":"textToSpeak"},"devices":{"type":"flow","value":"device"}}},"x":2530,"y":2020,"wires":[[]]},{"id":"87af31c8.f9208","type":"alexa-remote-echo","z":"6521bd7e.ca4374","g":"d357881.f2ec478","name":"Amazon Alexa","account":"4dd2b761.a0d768","config":{"option":"get","value":{"what":"device","device":{"type":"str","value":"ALEXA_ALL_DSN"}}},"x":2480,"y":1800,"wires":[["2d40e879.496f98"]]},{"id":"3d14a8fe.3aeae8","type":"comment","z":"6521bd7e.ca4374","g":"d357881.f2ec478","name":"Get the list of Amazon Echo devices connected to home network","info":"Resource: https://github.com/586837r/node-red-contrib-alexa-remote2","x":2410,"y":1760,"wires":[]},{"id":"e71bd0bb.590de","type":"ui_dropdown","z":"6521bd7e.ca4374","g":"d357881.f2ec478","name":"Event Dropdown","label":"Event","tooltip":"","place":"Choose Event Command","group":"a20698b5.834d98","order":4,"width":"0","height":"0","passthru":true,"multiple":false,"options":[],"payload":"","topic":"weather","topicType":"str","x":2270,"y":1900,"wires":[["e9725a67.112bd8"]]},{"id":"e9725a67.112bd8","type":"change","z":"6521bd7e.ca4374","g":"d357881.f2ec478","name":"","rules":[{"t":"set","p":"textToSpeak","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2500,"y":1900,"wires":[[]]},{"id":"9be26986.83fdc8","type":"change","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"alexaOptions","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1880,"y":1900,"wires":[["e71bd0bb.590de"]]},{"id":"7e967ea4.d0457","type":"function","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"setOptions","func":"\nmsg.alexaOptions = [\n    {\"Indoor Temperature and Humidity\": global.get(\"indoorWeatherCommand\")},\n    {\"Indoor Air Condition\": global.get(\"indoorAirCommand\")},\n    {\"Outdoor Weather Condition\": global.get(\"outdoorWeatherCommand\")},\n    {\"Outdoor Air Condition\": global.get(\"outdoorAirCommand\")}\n]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1690,"y":1900,"wires":[["9be26986.83fdc8"]]},{"id":"e8c6f770.488598","type":"change","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"setIndoorWeatherCommand","rules":[{"t":"set","p":"indoorWeatherCommand","pt":"global","to":"indoorWeatherCommand","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":1800,"wires":[["7e967ea4.d0457"]]},{"id":"f59c56a4.24bc08","type":"change","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"setOutdoorWeatherCommand","rules":[{"t":"set","p":"outdoorWeatherCommand","pt":"global","to":"outdoorWeatherCommand","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":1760,"wires":[["7e967ea4.d0457"]]},{"id":"32f7c73f.677728","type":"change","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"setOutdoorAirCommand","rules":[{"t":"set","p":"outdoorAirCommand","pt":"global","to":"outdoorAirCommand","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":1900,"wires":[["7e967ea4.d0457"]]},{"id":"fe8f8edd.412e","type":"change","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"setIndoorAirCommand","rules":[{"t":"set","p":"indoorAirCommand","pt":"global","to":"payload.indoorAirCommand","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":2000,"wires":[["7e967ea4.d0457"]]},{"id":"5627116d.e3a52","type":"alexa-remote-routine","z":"6521bd7e.ca4374","g":"7c3e9a6a.700474","name":"Announce turn on air purifier","account":"4dd2b761.a0d768","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"str","value":"We detect high air pollution in your room. I turn on air purifier for your safety."},"devices":["G0913L05926604MB"]}},"x":1660,"y":2220,"wires":[[]]},{"id":"f1c14f04.164e4","type":"alexa-remote-routine","z":"6521bd7e.ca4374","g":"e100928e.1f09b","name":"Announce night time","account":"4dd2b761.a0d768","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"str","value":"It's night time. I turn on your bedroom light."},"devices":["G0913L05926604MB"]}},"x":840,"y":2400,"wires":[[]]},{"id":"e36f2b46.3798f8","type":"alexa-remote-routine","z":"6521bd7e.ca4374","g":"407a8e8a.8124a","name":"Announce outfit recommendation","account":"4dd2b761.a0d768","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"weather.outfitCommand"},"devices":["G0913L05926604MB"]}},"x":1760,"y":3520,"wires":[["ca77f6e.3291f08"]]},{"id":"93375f59.f3b05","type":"inject","z":"6521bd7e.ca4374","g":"e100928e.1f09b","name":"DetectLight","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1800","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":2480,"wires":[["5830be52.ab5ca"]]},{"id":"70013247.a4b80c","type":"change","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"setWeatherCondition","rules":[{"t":"set","p":"weatherCondition","pt":"global","to":"condition","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":1840,"wires":[[]]},{"id":"3d0aba03.c698f6","type":"http request","z":"6521bd7e.ca4374","g":"407a8e8a.8124a","name":"detectLocation","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://ip-api.com/json","tls":"","persist":false,"proxy":"","authType":"","x":260,"y":3480,"wires":[["a98e36d1.fba728"]]},{"id":"a98e36d1.fba728","type":"function","z":"6521bd7e.ca4374","g":"407a8e8a.8124a","name":"parseLocation","func":"// Parse city, state and country code value from the API response\nmsg.payload.city = msg.payload.city;\nmsg.payload.state = msg.payload.region;\nmsg.payload.country = msg.payload.countryCode;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":3480,"wires":[["45e8a5a3.92dd8c"]]},{"id":"45e8a5a3.92dd8c","type":"http request","z":"6521bd7e.ca4374","g":"407a8e8a.8124a","name":"getWeather","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?q={{payload.city}},{{payload.state}},{{payload.country}}&units=metric&appid=fc392caac575a1f128302f10bb9c7b10","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":3480,"wires":[["a3a60f72.5ae8b"]]},{"id":"c940143c.5f9028","type":"ui_button","z":"6521bd7e.ca4374","g":"a397188e.7a6e78","name":"Red","group":"e570b324.764e2","order":12,"width":"2","height":"1","passthru":false,"label":"Rain","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":970,"y":3180,"wires":[["8a8721ea.46c67"]]},{"id":"8a8721ea.46c67","type":"alexa-remote-routine","z":"6521bd7e.ca4374","g":"a397188e.7a6e78","name":"Red","account":"4dd2b761.a0d768","routineNode":{"type":"smarthome","payload":{"entity":"fee9530e-17a5-4d40-aa6d-d5d5739d4288","action":"setColor","value":{"type":"str","value":"dark_red"}}},"x":1150,"y":3180,"wires":[[]]},{"id":"b80fbbf7.d95008","type":"ui_button","z":"6521bd7e.ca4374","g":"a397188e.7a6e78","name":"Sky Blue","group":"e570b324.764e2","order":12,"width":"2","height":"1","passthru":false,"label":"Cloudy","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":980,"y":3240,"wires":[["21a86027.201e4"]]},{"id":"21a86027.201e4","type":"alexa-remote-routine","z":"6521bd7e.ca4374","g":"a397188e.7a6e78","name":"Sky Blue","account":"4dd2b761.a0d768","routineNode":{"type":"smarthome","payload":{"entity":"fee9530e-17a5-4d40-aa6d-d5d5739d4288","action":"setColor","value":{"type":"str","value":"sky_blue"}}},"x":1160,"y":3240,"wires":[[]]},{"id":"d65373da.4423a","type":"ui_template","z":"6521bd7e.ca4374","group":"e570b324.764e2","name":"Smart Room Controller Header","order":1,"width":"13","height":"3","format":"<div style=\"text-align: center\">\n    <img src=\"https://tcss573-iot-thida.s3.us-east-2.amazonaws.com/smarthome-controller.png\" alt=\"Smart Room Controller\" width=\"100%\" height=\"auto\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":170,"y":2720,"wires":[[]]},{"id":"f0288b8a.5d2928","type":"ui_template","z":"6521bd7e.ca4374","group":"a20698b5.834d98","name":"Weather Notifier Header","order":1,"width":"18","height":"3","format":"<div style=\"text-align: center\">\n    <img src=\"https://tcss573-iot-thida.s3.us-east-2.amazonaws.com/weather-notifier.png\" alt=\"Weather Notifier\" width=\"90%\" height=\"auto\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":150,"y":1320,"wires":[[]]},{"id":"71d4433a.3cdb7c","type":"ui_button","z":"6521bd7e.ca4374","g":"720b115d.b2ae4","name":"Send Weather Report","group":"a20698b5.834d98","order":6,"width":0,"height":0,"passthru":false,"label":"Send Weather Report","tooltip":"","color":"Black","bgcolor":"Gold","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":2280,"y":2180,"wires":[["c41252e3.06325"]]},{"id":"c41252e3.06325","type":"alexa-remote-routine","z":"6521bd7e.ca4374","g":"720b115d.b2ae4","name":"Send push notification","account":"4dd2b761.a0d768","routineNode":{"type":"pushNotification","payload":{"text":{"type":"flow","value":"textToSpeak"},"title":{"type":"str","value":"Weather Report"}}},"x":2530,"y":2180,"wires":[[]]},{"id":"b6ca58e5.9627e8","type":"comment","z":"6521bd7e.ca4374","g":"720b115d.b2ae4","name":"Send Weather report as push notification to Alexa app","info":"","x":2380,"y":2140,"wires":[]},{"id":"4360cc00.7f3cb4","type":"comment","z":"6521bd7e.ca4374","g":"407a8e8a.8124a","name":"If there's movement, notify to broadcast outfit recommendation","info":"","x":490,"y":3580,"wires":[]},{"id":"968c8046.ae862","type":"comment","z":"6521bd7e.ca4374","g":"407a8e8a.8124a","name":"Map outfit recommendation based on weather condition","info":"","x":750,"y":3440,"wires":[]},{"id":"bdbc7ab.23cb688","type":"grove analog sensor","z":"6521bd7e.ca4374","g":"587146a7.41c068","name":"Air Quality","pin":"0","sensor":"sound","repeat":"2","board":"917245d1.bbe818","x":460,"y":640,"wires":[["37087e2.53d2d82"]]},{"id":"7a88a773.b7f3b8","type":"grove digital sensor","z":"6521bd7e.ca4374","g":"587146a7.41c068","name":"Motion Sensor","board":"917245d1.bbe818","sensor":"ultrasonic","repeat":"2","pin":"8","x":480,"y":700,"wires":[["946708e9.404c28"]]},{"id":"26e63ab0.43df46","type":"grove digital sensor","z":"6521bd7e.ca4374","g":"587146a7.41c068","name":"Indoor Climate","board":"917245d1.bbe818","sensor":"dht11","repeat":"2","pin":"3","x":480,"y":820,"wires":[["fd1d3084.f9eab","5b01d058.e72c6","b3e4ec2c.3cdae"]]},{"id":"2825d0e9.6ea04","type":"grove analog sensor","z":"6521bd7e.ca4374","g":"587146a7.41c068","name":"Light Sensor","pin":"1","sensor":"light","repeat":"2","board":"917245d1.bbe818","x":470,"y":580,"wires":[["213ce0a8.b0fc9"]]},{"id":"f39cddfa.cac4c","type":"join","z":"6521bd7e.ca4374","g":"3547eafb.6e3b06","name":"join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"0","count":"12","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1590,"y":860,"wires":[["1a005303.073c1d","303a48a4.f443e8"]]},{"id":"dc99940e.655058","type":"function","z":"6521bd7e.ca4374","g":"91bfd1a.952513","name":"parseAir","func":"// Read Air Condition value from sensor\nvar rawAirValue = msg.payload;\n\n// Build out response field messages\nif (!(isNaN(rawAirValue))) {\n    \n    msg.payload = {\n        value : rawAirValue\n    };\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":640,"wires":[["5ce09360.77a3bc"]]},{"id":"74c278b8.198b68","type":"function","z":"6521bd7e.ca4374","g":"91bfd1a.952513","name":"parseMotion","func":"// Adds topic key and setting log message.\n\nmsg.topic = \"motion\";\n\nmsg.payload = msg.payload.command;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":700,"wires":[["f39cddfa.cac4c"]]},{"id":"46be47de.854058","type":"function","z":"6521bd7e.ca4374","g":"91bfd1a.952513","name":"parseIndoorHumidity","func":"// Adds topic key.\n\nmsg.topic = \"indoor_hum\";\nmsg.payload = msg.payload.humidity;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":820,"wires":[["f39cddfa.cac4c"]]},{"id":"3742663.0c8c19a","type":"function","z":"6521bd7e.ca4374","g":"91bfd1a.952513","name":"parseLight","func":"// Adds topic key\n\nmsg.topic = \"light\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":580,"wires":[["f39cddfa.cac4c"]]},{"id":"73936e6d.3ec6f","type":"function","z":"6521bd7e.ca4374","g":"91bfd1a.952513","name":"parseOutdoorTemp","func":"// Adds Topic key \nmsg.topic = \"outdoor_current_temp\"\n\n// City name\nmsg.cityName = msg.payload.name;\n\n// Weather condition \nmsg.condition = msg.payload.weather[0].main;\n\n// Convert to celsius\nmsg.payload = Math.round(((msg.payload.main.temp - 32) * (5 / 9)) * 10) / 10;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":960,"wires":[["f39cddfa.cac4c","ba4f5072.567b7"]]},{"id":"11bb28c3.a6f617","type":"inject","z":"6521bd7e.ca4374","g":"be3feca8.e4873","name":"Call and Update Dashboard","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":1020,"wires":[["b408b748.4407a8"]]},{"id":"303a48a4.f443e8","type":"influxdb out","z":"6521bd7e.ca4374","g":"3547eafb.6e3b06","influxdb":"e7f0a69a.6b2748","name":"AlexPiDB","measurement":"SensorData","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1740,"y":880,"wires":[]},{"id":"6709f48d.a9fe4c","type":"function","z":"6521bd7e.ca4374","g":"91bfd1a.952513","name":"parseOutdoorMaxTemp","func":"// Adds Topic key \nmsg.topic = \"outdoor_max_temp\"\n\n// City name\nmsg.cityName = msg.payload.name;\n\nmsg.payload = msg.payload.main.temp_max;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":1020,"wires":[["f39cddfa.cac4c","876fac7b.edc23"]]},{"id":"7247784b.779848","type":"function","z":"6521bd7e.ca4374","g":"91bfd1a.952513","name":"parseOutdoorMinTemp","func":"// Adds Topic key \nmsg.topic = \"outdoor_min_temp\"\n\n// City name\nmsg.cityName = msg.payload.name;\n\nmsg.payload = msg.payload.main.temp_min;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":1080,"wires":[["f39cddfa.cac4c","74650493.17674c"]]},{"id":"c8c4ddbb.4bf2a","type":"function","z":"6521bd7e.ca4374","g":"91bfd1a.952513","name":"parseOutdoorHum","func":"// Adds Topic key \n\nmsg.topic = \"outdoor_humidity\"\n\nmsg.icon = msg.payload.weather[0].icon;\nmsg.iconUrl = \"http://openweathermap.org/img/wn/\" + msg.icon + \"@2x.png\";\n\n// City name\nmsg.cityName = msg.payload.name;\n\nmsg.payload = msg.payload.main.humidity;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":1140,"wires":[["f39cddfa.cac4c","9a39b9.e2ce0648"]]},{"id":"745cb79e.4a4178","type":"function","z":"6521bd7e.ca4374","g":"91bfd1a.952513","name":"parseOutdoorCond","func":"// Adds Topic key \n\nmsg.topic = \"outdoor_cond\"\n\nmsg.payload = msg.payload.weather[0].main;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":1180,"wires":[["f39cddfa.cac4c"]]},{"id":"662fabb6.090fd4","type":"function","z":"6521bd7e.ca4374","g":"91bfd1a.952513","name":"parseIndoorTemp","func":"// Adds topic key.\n\nmsg.topic = \"indoor_temp\";\nmsg.payload = msg.payload.temperature;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":760,"wires":[["f39cddfa.cac4c"]]},{"id":"59f73297.ae57fc","type":"function","z":"6521bd7e.ca4374","g":"91bfd1a.952513","name":"parseIndoorHeat","func":"// Adds topic key.\n\nmsg.topic = \"indoor_heat\";\nmsg.payload = msg.payload.heatIndex;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":880,"wires":[["f39cddfa.cac4c"]]},{"id":"5f36aec2.7d198","type":"comment","z":"6521bd7e.ca4374","g":"be3feca8.e4873","name":"Parsing Functions","info":"These Functions will parse data from sensors and http requests. The functions will also include a topic in order to properly join the data for database table.","x":1050,"y":560,"wires":[]},{"id":"9a39b9.e2ce0648","type":"ui_text","z":"6521bd7e.ca4374","g":"be3feca8.e4873","group":"a20698b5.834d98","order":14,"width":"6","height":"1","name":"displayHumidity","label":"Humidity for {{msg.cityName}}","format":"{{msg.payload}}%","layout":"col-center","x":1420,"y":1180,"wires":[]},{"id":"ba4f5072.567b7","type":"ui_text","z":"6521bd7e.ca4374","g":"be3feca8.e4873","group":"a20698b5.834d98","order":11,"width":"6","height":"1","name":"displayTemperature","label":"Weather for {{msg.cityName}}","format":"{{msg.payload}}°C ({{msg.condition}})","layout":"col-center","x":1430,"y":1060,"wires":[]},{"id":"876fac7b.edc23","type":"ui_text","z":"6521bd7e.ca4374","g":"be3feca8.e4873","group":"a20698b5.834d98","order":12,"width":"6","height":"1","name":"displayHigh","label":"High for {{msg.cityName}}","format":"{{msg.payload}}°F","layout":"col-center","x":1410,"y":1100,"wires":[]},{"id":"74650493.17674c","type":"ui_text","z":"6521bd7e.ca4374","g":"be3feca8.e4873","group":"a20698b5.834d98","order":13,"width":"6","height":"1","name":"displayLow","label":"Low for {{msg.cityName}}","format":"{{msg.payload}}°F","layout":"col-center","x":1410,"y":1140,"wires":[]},{"id":"5ce09360.77a3bc","type":"function","z":"6521bd7e.ca4374","g":"91bfd1a.952513","name":"parseAirDB","func":"msg.topic = \"air\";\n\nmsg.payload = msg.payload.value;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":640,"wires":[["f39cddfa.cac4c"]]},{"id":"c7f013df.23307","type":"function","z":"6521bd7e.ca4374","g":"91bfd1a.952513","name":"parseMotionDetection","func":"// Value reads from sensor\nvar motion = msg.payload;\nvar command = \"\";\n\n// Detect if there is a motion less than 5cm range from the sensor\nif (motion < 5) {\n    command = \"Someone is at the front door.\";\n} else {\n    command = \"No one is at the front door.\";\n}\n\n// Build out response fields\nmsg.payload = {\n    command: command\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":700,"wires":[["74c278b8.198b68"]]},{"id":"1a005303.073c1d","type":"debug","z":"6521bd7e.ca4374","g":"3547eafb.6e3b06","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1750,"y":840,"wires":[]},{"id":"36c85423.81e22c","type":"inject","z":"6521bd7e.ca4374","g":"3547eafb.6e3b06","name":"Add Email","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"email","payload":"email","payloadType":"global","x":1590,"y":780,"wires":[["f39cddfa.cac4c"]]},{"id":"213ce0a8.b0fc9","type":"change","z":"6521bd7e.ca4374","g":"587146a7.41c068","name":"setLightVariable","rules":[{"t":"set","p":"indoorLight","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":580,"wires":[["3742663.0c8c19a"]]},{"id":"b408b748.4407a8","type":"http request","z":"6521bd7e.ca4374","g":"be3feca8.e4873","name":"detectLocation","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://ip-api.com/json","tls":"","persist":false,"proxy":"","authType":"","x":320,"y":1080,"wires":[["e9f04af9.9ebf08"]]},{"id":"e9f04af9.9ebf08","type":"function","z":"6521bd7e.ca4374","g":"be3feca8.e4873","name":"parseLocation","func":"// Parse city, state and country code value from the API response\nmsg.payload.city = msg.payload.city;\nmsg.payload.state = msg.payload.region;\nmsg.payload.country = msg.payload.countryCode;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1080,"wires":[["8de6dba0.ae2ad8"]]},{"id":"8de6dba0.ae2ad8","type":"http request","z":"6521bd7e.ca4374","g":"be3feca8.e4873","name":"findWeather","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?q={{payload.city}},{{payload.state}},{{payload.country}}&units=imperial&appid=be3de3ca1cfd812d825b1d0dddddedd1","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":1080,"wires":[["73936e6d.3ec6f","6709f48d.a9fe4c","7247784b.779848","c8c4ddbb.4bf2a","745cb79e.4a4178"]]},{"id":"37087e2.53d2d82","type":"change","z":"6521bd7e.ca4374","g":"587146a7.41c068","name":"setIndoorAirVariable","rules":[{"t":"set","p":"indoorAir","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":640,"wires":[["dc99940e.655058"]]},{"id":"f85d649e.4da038","type":"inject","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"Read air quality","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":760,"y":2120,"wires":[["52a5733f.0f28dc"]]},{"id":"fd1d3084.f9eab","type":"change","z":"6521bd7e.ca4374","g":"587146a7.41c068","name":"setTempVariables","rules":[{"t":"set","p":"indoorTemperature","pt":"global","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":760,"wires":[["662fabb6.090fd4"]]},{"id":"5b01d058.e72c6","type":"change","z":"6521bd7e.ca4374","g":"587146a7.41c068","name":"setHumVariables","rules":[{"t":"set","p":"indoorHumidity","pt":"global","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":820,"wires":[["46be47de.854058"]]},{"id":"b3e4ec2c.3cdae","type":"change","z":"6521bd7e.ca4374","g":"587146a7.41c068","name":"setHeatVariables","rules":[{"t":"set","p":"indoorHeat","pt":"global","to":"payload.heat","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":880,"wires":[["59f73297.ae57fc"]]},{"id":"946708e9.404c28","type":"change","z":"6521bd7e.ca4374","g":"587146a7.41c068","name":"setMotionVariable","rules":[{"t":"set","p":"motionDetection","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":700,"wires":[["c7f013df.23307"]]},{"id":"65ff9fc3.12e8","type":"inject","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"Read Indoor Climate","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":1440,"wires":[["db728df6.7ace3"]]},{"id":"ef1e2b64.bceb68","type":"inject","z":"6521bd7e.ca4374","g":"407a8e8a.8124a","name":"Detect motion","props":[],"repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":340,"y":3620,"wires":[["698b5cc4.b4f374"]]},{"id":"ca77f6e.3291f08","type":"delay","z":"6521bd7e.ca4374","g":"407a8e8a.8124a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1880,"y":3580,"wires":[[]]},{"id":"8526f637.b136f8","type":"inject","z":"6521bd7e.ca4374","name":"Initial DB Creation","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":120,"wires":[["e512c037.2c305"]]},{"id":"e512c037.2c305","type":"function","z":"6521bd7e.ca4374","name":"Setup database account insertion","func":"// Sets up the payload for database insertion.\n\nmsg.payload = {\n    email: global.get(\"email\"),\n    password: \"password\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":120,"wires":[["a4151988.9e2a38"]]},{"id":"a4151988.9e2a38","type":"debug","z":"6521bd7e.ca4374","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":120,"wires":[]},{"id":"e4e88e3e.5b9d9","type":"debug","z":"6521bd7e.ca4374","g":"407a8e8a.8124a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":3600,"wires":[]},{"id":"b54d8335.23f41","type":"comment","z":"6521bd7e.ca4374","g":"be3feca8.e4873","name":"Detect outdoor weather of the current city","info":"","x":620,"y":1040,"wires":[]},{"id":"d4349859.dc5c68","type":"comment","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"Detect Outdoor Air Quality from OpenMapWeather","info":"","x":890,"y":1880,"wires":[]},{"id":"6ad45322.7950ec","type":"comment","z":"6521bd7e.ca4374","g":"7c3e9a6a.700474","name":"Broadcast to Echo device that air purifier has been turned on","info":"","x":1760,"y":2180,"wires":[]},{"id":"504f78f2.680bf8","type":"comment","z":"6521bd7e.ca4374","g":"d357881.f2ec478","name":"Broadcast to the specified Alexa-integrated device","info":"","x":2370,"y":1980,"wires":[]},{"id":"760f2667.9482e8","type":"comment","z":"6521bd7e.ca4374","g":"d357881.f2ec478","name":"Choose which command to broadcast to Echo device","info":"","x":2380,"y":1860,"wires":[]},{"id":"c459574a.7ac968","type":"comment","z":"6521bd7e.ca4374","g":"403f42a2.cd5c5c","name":"Build an option of different weather commands for user to choose","info":"","x":1820,"y":1860,"wires":[]},{"id":"9ef2f2e1.0059a","type":"comment","z":"6521bd7e.ca4374","g":"e100928e.1f09b","name":"Detect day or night time based on value from light sensor","info":"","x":430,"y":2400,"wires":[]},{"id":"ee4feff3.cda26","type":"comment","z":"6521bd7e.ca4374","g":"27e9609c.8b66b","name":"Option to turn on/off bedroom light (smart bulb)","info":"","x":860,"y":2820,"wires":[]},{"id":"bd6d9ec.999496","type":"comment","z":"6521bd7e.ca4374","g":"3959fb4.57cb104","name":"Option to adjust brightness of bedroom light (smart bulb)","info":"","x":290,"y":3020,"wires":[]},{"id":"880c7848.a61138","type":"comment","z":"6521bd7e.ca4374","g":"a397188e.7a6e78","name":"Option to adjust light shade","info":"","x":800,"y":3020,"wires":[]},{"id":"df473112.8b759","type":"alexa-remote-routine","z":"6521bd7e.ca4374","name":"presentation ending command","account":"4dd2b761.a0d768","routineNode":{"type":"speak","payload":{"type":"announcement","text":{"type":"str","value":"Thank you for watching. Stay safe, everyone"},"devices":["G0913L05926604MB"]}},"x":450,"y":3960,"wires":[[]]},{"id":"4682a239.ba0a8c","type":"inject","z":"6521bd7e.ca4374","name":"Play command","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":3960,"wires":[["df473112.8b759"]]},{"id":"525ba753.6d4608","type":"alexa-remote-routine","z":"6521bd7e.ca4374","name":"presentation starting command","account":"4dd2b761.a0d768","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"str","value":"Welcome to Alex Pi"},"devices":["G0913L05926604MB"]}},"x":450,"y":3900,"wires":[[]]},{"id":"1fcdd7cc.59e278","type":"inject","z":"6521bd7e.ca4374","name":"Play command","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":3900,"wires":[["525ba753.6d4608"]]},{"id":"a20698b5.834d98","type":"ui_group","name":"Weather Notifier","tab":"66910e35.7bfb","order":2,"disp":false,"width":"18","collapse":false},{"id":"e570b324.764e2","type":"ui_group","name":"Smart Room Controller","tab":"66910e35.7bfb","order":5,"disp":false,"width":"13","collapse":false},{"id":"4dd2b761.a0d768","type":"alexa-remote-account","name":"Amazon Alexa","authMethod":"proxy","proxyOwnIp":"localhost","proxyPort":"3456","cookieFile":"authFile","refreshInterval":"1","alexaServiceHost":"pitangui.amazon.com","amazonPage":"amazon.com","acceptLanguage":"en-US","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"707c69e9.6008c8","type":"board-config","board":"GrovePi"},{"id":"b4169f1f.bf933","type":"ui_group","d":true,"name":"Report","tab":"66910e35.7bfb","order":7,"disp":true,"width":"13","collapse":true},{"id":"62da567c.c4b4f8","type":"ui_group","name":"Account Info","tab":"66910e35.7bfb","order":1,"disp":false,"width":"36","collapse":false},{"id":"917245d1.bbe818","type":"board-config","board":"GrovePi"},{"id":"e7f0a69a.6b2748","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"smartcity","name":"InfluxDB","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"66910e35.7bfb","type":"ui_tab","name":"Smart Weather Station","icon":"wi-wu-nt_cloudy","order":1,"disabled":false,"hidden":true}]